# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
build/
dist/
.eggs/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache

# Output folders
*.log
downloaded_files/

# MacOS files
.DS_Store

# VSCode and JetBrains IDE configs
.vscode/
.idea/
